.red{
    background-color:aqua 
}
.yay{
    background-color: blueviolet; color:orangered
}
.Blue{
    background-color: brown; color: yellowgreen;
}
.ha{
    background-color: darkcyan; color:magenta;
}
.re{
    background-color:peru; color: firebrick;
}
.te{
    background-color:forestgreen; color:salmon;
}
.ke{
    text-align: center; font-size: 48px;
}
.pe{
    text-align: center; font-size:48px ;
}
.ge{
    text-align: center; font-size:48px ;
}
.bet{
    text-align: center; font-size:48px ;
}
.ert{
    text-align: center; font-size:48px ;
}
.ov{
    background-color: blueviolet;
}
.rx{
    background-color: aqua;
}
.qw{
    background-color: tomato;
}
.er{
    background-color: chartreuse;
}
.mn{
    background-color: teal;
}
.yg{
    background-color: brown;
}